// @import this file at the top of anything that needs to access global variables or mixins.
//
// NOTE: This file should only contain @mixins and variables (do NOT import SASS into here,
// or it will duplicate itself into every CSS file).

// base includes
@import "bourbon/bourbon"; // bourbon core
@import "bitters/grid-settings"; // grid framework - config
// @import "bitters/variables";
@import "neat/neat"; // grid framework - core
@import "bitters/base"; // bitters core

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-padding {
  @include outer-container;
  @include media($mobile){
    @include pad(0 3em);
  }
  @include media($tablet){
    @include pad(0 6em);
  }
  @include media($desktop){
    @include pad(0 10em);
  }
}

body {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

main, header, footer {
  @include center-padding;
}

header {
  margin-top: 5em;
  @include media($mobile){
    margin-top: 2em;
  }
}

hr {
  margin: 1em 0;
}

h1 {
  margin: 0;
  font-size: modular-scale(4, 1em, $golden);
}

h2 {
  margin-bottom: .5em;
  font-size: modular-scale(3, 1em, $golden);
}

h3 {
  margin-bottom: .5em;
  font-size: modular-scale(2, 1em, $golden);
}

h4 {
  margin-bottom: .25em;
  font-size: modular-scale(1, 1em, $golden);
}

h5 {
  margin-bottom: .5em;
  font-size: 1em;
}
