body {
    background-image: url('../img/site-bg.png');
}

body.no-bg {
    background-image: none;
}

@font-face {
    font-family: 'somybmp01_7regular';
    src: url('font.woff2') format('woff2'),
         url('font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

iframe.the-frame {
    position: fixed;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

iframe.the-video {
  display: block;
  margin: 30px auto;
}

.window {
    z-index: 10;
    height: 390px;
    width: 548px;
    position: absolute;
}

.window img {
  position: absolute;
  left: 0;
  top: 0;
}

.window a {
  text-decoration: none;
  color: inherit;
}

.window .close {
  right: 8px;
  width: 30px;
  height: 28px;
}

.window .check {
  left: 8px;
  width: 32px;
  height: 34px;
}

.window .check, .window .close {
  position: absolute;
  top: 4px;
  cursor: pointer;
}

marquee {
    text-transform: uppercase;
    margin: 100px 10px 0;
    /* margin: 0 40px; */
    font-size: 50px;
}

.select-gifs {
  width: 720px;
  height: 160px;
  overflow: scroll;
  padding: 4px 0;
}

.select-bg-gif {
  width: 23%;
  margin: 0 1% 2%;
  box-sizing: border-box;
  cursor: pointer;
}

.select-gif {
  width: 23%;
  margin: 0 1%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}

.select-bg-fieldset {
  margin-bottom: 57px;
}

.select-gif-fieldset {
  margin-bottom: 60px;
}

img.selected, .select-sound-fieldset .selected {
  outline: 2px solid red;
}

.submit-button {
  position: absolute;
  bottom: 85px;
  width: 236px;
  margin-left: -118px;
  left: 50%;
  height: 59px;
  cursor: pointer;
}

form {
  display: block;
}

.the-form {
  background-image: url('../img/form-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 800px;
  height: 1704px;
  position: relative;
}

.select-sound-fieldset {
  font-size: 28px;
  overflow: scroll;
  height: 386px;
}

.sound-container {
  padding: 5px 10px 0;
  max-width: 250px;
}

.play {
  cursor: pointer;
  margin-left: 20px;
}

.select-sound {
  cursor: pointer;
  margin-left: 20px;
}

fieldset {
  margin-bottom: 71px;
  font-family: 'somybmp01_7regular', Arial, sans-serif;
}

fieldset input[type="text"], fieldset input[type="url"] {
  font-family: 'somybmp01_7regular', Arial, sans-serif;
  width: 550px;
  height: 28px;
  font-size: 28px;
}

fieldset select {
  font-family: 'somybmp01_7regular', Arial, sans-serif;
  width: 130px;
  font-size: 28px;
}

.fieldsets {
  padding-top: 304px;
  padding-left: 24px;
}

button {
  font-size: 30px;
  border-radius: 10px;
}

/*
 * FONTS
 */

.font-comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.font-times {
  font-family: "Times New Roman", Times, serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-impact {
  font-family: Impact, Charcoal, sans-serif;
}


/*
 * FORM LIBRARY
 */

fieldset {
  border: none;
}

form label {
  display: block;
  float: left;
  clear: left;
  margin: 10px 0;
}
form label b {
  display: block;
  float: left;
  width: 80px;
  margin-right: 20px;
}
form label input,
form label textarea,
form label select {
  float: left;
  width: 180px;
}
form label input[type="radio"],
form label input[type="checkbox"] {
  width: 20px;
}
form p {
  clear: left;
  margin: 10px 0 0;
}
form input[type="submit"] {
  margin-left: 100px;
}
